$MAIN_FONT_COLOR: #f1f1f1; // 主字体颜色
$MAIN_BACKGROUND_COLOR: #263238; // 主背景色
$HOVER_BACKGROUND_COLOR: rgba(0, 0, 0, 0.2); // 获取焦点背景颜色
$POPOVER_BACKGROUND_COLOR: rgba(0, 0, 0, 0.3); // 弹出框背景颜色
$POPOVER_BORDER: 1px solid rgba(0, 0, 0, 0.1); // 弹出框边框
$POPOVER_BOX_SHADOW: 0 0 5px 1px rgba(0, 0, 0, 0.1); // 弹出框边框
@mixin POPOVER {
  border-radius: 5px;
  background: $POPOVER_BACKGROUND_COLOR;
  border: $POPOVER_BORDER;
  box-shadow: $POPOVER_BOX_SHADOW;
}
